<div class="grid" id="overview-stats">
    <article>
        <header>👥 Tracked Players</header>
        <h2>{{ overview.unique_players }}</h2>
    </article>

    <article>
        <header>🎮 Total Playtime</header>
        <h2>{{ overview.total_game_readable }}</h2>
    </article>
    
    <article>
        <header>🎯 Games Played</header>
        <h2>{{ overview.unique_games }}</h2>
    </article>
    
    <article>
        <header>🎵 Spotify Listened</header>
        <h2>{{ overview.total_spotify_readable }}</h2>
    </article>
    
    <article>
        <header>🎶 Unique Songs</header>
        <h2>{{ overview.unique_tracks }}</h2>
    </article>
</div>
